# **Data Wrangling - Otto Group product classification**

[What Python libraries we need?](#section1)

[Where is the dataset?](#section2)

[What does the data look like at first glance?](#section3)

[What are data types for the columns, how much data is there?](#section4)

[Can we summarize the data?](#section5)

[What about non numerical data?](#section6)

[Should any columns be deleted?](#section7)

[Should any columns be transformed?](#section8)

<a id='section1'></a>

#### What Python libraries we need?

In [9]:
# pandas gives high-performance, easy-to-use data structures and data analysis tools
import pandas as pd

# fundamental package for scientific computing
import numpy as np 

# matplotlib provides a MATLAB-like plotting framework
import matplotlib.pyplot as plt
import matplotlib

# seaborn is visualization library based on matplotlib, 
# provides high level interface for drawing attractive statistical graphics
import seaborn as sns
sns.set_style(style='whitegrid')

<a id='section2'></a>

#### Where is the dataset?

In [10]:
# training data set
df = pd.read_csv("../data/train.csv")

# test data set
df_test = pd.read_csv("../data/test.csv")

<a id='section3'></a>

#### What does the data look like at first glance?

In [11]:
df.head()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93,target
0,1,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,Class_1
1,2,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
2,3,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,Class_1
3,4,1,0,0,1,6,1,5,0,0,...,0,1,2,0,0,0,0,0,0,Class_1
4,5,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,Class_1

In [12]:
df_test.head()

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
0,1,0,0,0,0,0,0,0,0,0,...,0,0,11,1,20,0,0,0,0,0
1,2,2,2,14,16,0,0,0,0,0,...,0,0,0,0,0,4,0,0,2,0
2,3,0,1,12,1,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,0,...,0,3,1,0,0,0,0,0,0,0
4,5,1,0,0,1,0,0,1,2,0,...,0,0,0,0,0,0,0,9,0,0

The train data has 93 features, id and product category as columns. Test data is similar except for the product category column which needs to predicted.

<a id='section4'></a>

#### What are data types for the columns, how much data is there?

In [13]:
df.shape, df_test.shape

((61878, 95), (144368, 94))

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61878 entries, 0 to 61877
Data columns (total 95 columns):
id         61878 non-null int64
feat_1     61878 non-null int64
feat_2     61878 non-null int64
feat_3     61878 non-null int64
feat_4     61878 non-null int64
feat_5     61878 non-null int64
feat_6     61878 non-null int64
feat_7     61878 non-null int64
feat_8     61878 non-null int64
feat_9     61878 non-null int64
feat_10    61878 non-null int64
feat_11    61878 non-null int64
feat_12    61878 non-null int64
feat_13    61878 non-null int64
feat_14    61878 non-null int64
feat_15    61878 non-null int64
feat_16    61878 non-null int64
feat_17    61878 non-null int64
feat_18    61878 non-null int64
feat_19    61878 non-null int64
feat_20    61878 non-null int64
feat_21    61878 non-null int64
feat_22    61878 non-null int64
feat_23    61878 non-null int64
feat_24    61878 non-null int64
feat_25    61878 non-null int64
feat_26    61878 non-null int64
feat_27    61878 non-null int64
feat_28    61878 non-null int64
feat_29    61878 non-null int64
feat_30    61878 non-null int64
feat_31    61878 non-null int64
feat_32    61878 non-null int64
feat_33    61878 non-null int64
feat_34    61878 non-null int64
feat_35    61878 non-null int64
feat_36    61878 non-null int64
feat_37    61878 non-null int64
feat_38    61878 non-null int64
feat_39    61878 non-null int64
feat_40    61878 non-null int64
feat_41    61878 non-null int64
feat_42    61878 non-null int64
feat_43    61878 non-null int64
feat_44    61878 non-null int64
feat_45    61878 non-null int64
feat_46    61878 non-null int64
feat_47    61878 non-null int64
feat_48    61878 non-null int64
feat_49    61878 non-null int64
feat_50    61878 non-null int64
feat_51    61878 non-null int64
feat_52    61878 non-null int64
feat_53    61878 non-null int64
feat_54    61878 non-null int64
feat_55    61878 non-null int64
feat_56    61878 non-null int64
feat_57    61878 non-null int64
feat_58    61878 non-null int64
feat_59    61878 non-null int64
feat_60    61878 non-null int64
feat_61    61878 non-null int64
feat_62    61878 non-null int64
feat_63    61878 non-null int64
feat_64    61878 non-null int64
feat_65    61878 non-null int64
feat_66    61878 non-null int64
feat_67    61878 non-null int64
feat_68    61878 non-null int64
feat_69    61878 non-null int64
feat_70    61878 non-null int64
feat_71    61878 non-null int64
feat_72    61878 non-null int64
feat_73    61878 non-null int64
feat_74    61878 non-null int64
feat_75    61878 non-null int64
feat_76    61878 non-null int64
feat_77    61878 non-null int64
feat_78    61878 non-null int64
feat_79    61878 non-null int64
feat_80    61878 non-null int64
feat_81    61878 non-null int64
feat_82    61878 non-null int64
feat_83    61878 non-null int64
feat_84    61878 non-null int64
feat_85    61878 non-null int64
feat_86    61878 non-null int64
feat_87    61878 non-null int64
feat_88    61878 non-null int64
feat_89    61878 non-null int64
feat_90    61878 non-null int64
feat_91    61878 non-null int64
feat_92    61878 non-null int64
feat_93    61878 non-null int64
target     61878 non-null object
dtypes: int64(94), object(1)
memory usage: 44.8+ MB

In [15]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144368 entries, 0 to 144367
Data columns (total 94 columns):
id         144368 non-null int64
feat_1     144368 non-null int64
feat_2     144368 non-null int64
feat_3     144368 non-null int64
feat_4     144368 non-null int64
feat_5     144368 non-null int64
feat_6     144368 non-null int64
feat_7     144368 non-null int64
feat_8     144368 non-null int64
feat_9     144368 non-null int64
feat_10    144368 non-null int64
feat_11    144368 non-null int64
feat_12    144368 non-null int64
feat_13    144368 non-null int64
feat_14    144368 non-null int64
feat_15    144368 non-null int64
feat_16    144368 non-null int64
feat_17    144368 non-null int64
feat_18    144368 non-null int64
feat_19    144368 non-null int64
feat_20    144368 non-null int64
feat_21    144368 non-null int64
feat_22    144368 non-null int64
feat_23    144368 non-null int64
feat_24    144368 non-null int64
feat_25    144368 non-null int64
feat_26    144368 non-null int64
feat_27    144368 non-null int64
feat_28    144368 non-null int64
feat_29    144368 non-null int64
feat_30    144368 non-null int64
feat_31    144368 non-null int64
feat_32    144368 non-null int64
feat_33    144368 non-null int64
feat_34    144368 non-null int64
feat_35    144368 non-null int64
feat_36    144368 non-null int64
feat_37    144368 non-null int64
feat_38    144368 non-null int64
feat_39    144368 non-null int64
feat_40    144368 non-null int64
feat_41    144368 non-null int64
feat_42    144368 non-null int64
feat_43    144368 non-null int64
feat_44    144368 non-null int64
feat_45    144368 non-null int64
feat_46    144368 non-null int64
feat_47    144368 non-null int64
feat_48    144368 non-null int64
feat_49    144368 non-null int64
feat_50    144368 non-null int64
feat_51    144368 non-null int64
feat_52    144368 non-null int64
feat_53    144368 non-null int64
feat_54    144368 non-null int64
feat_55    144368 non-null int64
feat_56    144368 non-null int64
feat_57    144368 non-null int64
feat_58    144368 non-null int64
feat_59    144368 non-null int64
feat_60    144368 non-null int64
feat_61    144368 non-null int64
feat_62    144368 non-null int64
feat_63    144368 non-null int64
feat_64    144368 non-null int64
feat_65    144368 non-null int64
feat_66    144368 non-null int64
feat_67    144368 non-null int64
feat_68    144368 non-null int64
feat_69    144368 non-null int64
feat_70    144368 non-null int64
feat_71    144368 non-null int64
feat_72    144368 non-null int64
feat_73    144368 non-null int64
feat_74    144368 non-null int64
feat_75    144368 non-null int64
feat_76    144368 non-null int64
feat_77    144368 non-null int64
feat_78    144368 non-null int64
feat_79    144368 non-null int64
feat_80    144368 non-null int64
feat_81    144368 non-null int64
feat_82    144368 non-null int64
feat_83    144368 non-null int64
feat_84    144368 non-null int64
feat_85    144368 non-null int64
feat_86    144368 non-null int64
feat_87    144368 non-null int64
feat_88    144368 non-null int64
feat_89    144368 non-null int64
feat_90    144368 non-null int64
feat_91    144368 non-null int64
feat_92    144368 non-null int64
feat_93    144368 non-null int64
dtypes: int64(94)
memory usage: 103.5 MB

Both train and test have 93 int columns. Train set have 1 object column for product category. It has value like "Class_1". There are no null values at all in the data.

<a id='section5'></a>

#### Can we summarize the data?

In [16]:
train_summary = df.describe()
train_summary

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
count,61878.000000,61878.00000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,...,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000,61878.000000
mean,30939.500000,0.38668,0.263066,0.901467,0.779081,0.071043,0.025696,0.193704,0.662433,1.011296,...,0.070752,0.532306,1.128576,0.393549,0.874915,0.457772,0.812421,0.264941,0.380119,0.126135
std,17862.784315,1.52533,1.252073,2.934818,2.788005,0.438902,0.215333,1.030102,2.255770,3.474822,...,1.151460,1.900438,2.681554,1.575455,2.115466,1.527385,4.597804,2.045646,0.982385,1.201720
min,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,15470.250000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,30939.500000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,46408.750000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,61878.000000,61.00000,51.000000,64.000000,70.000000,19.000000,10.000000,38.000000,76.000000,43.000000,...,76.000000,55.000000,65.000000,67.000000,30.000000,61.000000,130.000000,52.000000,19.000000,87.000000

In [17]:
test_summary = df_test.describe()
test_summary

,id,feat_1,feat_2,feat_3,feat_4,feat_5,feat_6,feat_7,feat_8,feat_9,...,feat_84,feat_85,feat_86,feat_87,feat_88,feat_89,feat_90,feat_91,feat_92,feat_93
count,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000,...,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000,144368.000000
mean,72184.500000,0.386201,0.263597,0.899819,0.780727,0.071498,0.026439,0.200169,0.667378,1.035271,...,0.074989,0.538485,1.128782,0.405249,0.875526,0.473284,0.814010,0.271161,0.388348,0.132675
std,41675.596169,1.468882,1.261908,2.949106,2.846181,0.428568,0.228354,1.069235,2.286832,3.548618,...,1.288595,1.906121,2.682511,1.631566,2.090288,1.617853,4.603653,2.073627,1.006935,1.302695
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,36092.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,72184.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,108276.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,144368.000000,64.000000,45.000000,84.000000,82.000000,14.000000,11.000000,44.000000,100.000000,47.000000,...,132.000000,56.000000,73.000000,54.000000,37.000000,62.000000,119.000000,74.000000,22.000000,91.000000

Since there are so many columns its hard to read summary data for all the columns. Train and test data looks similar which is good. Our well fitted model should work fine for the test data. We many need to visualize the data to get more insights. Let us transpose the summary dataframes to see the values for all the columns.

In [18]:
train_summary = train_summary.transpose()
train_summary

,count,mean,std,min,25%,50%,75%,max
id,61878.0,30939.500000,17862.784315,1.0,15470.25,30939.5,46408.75,61878.0
feat_1,61878.0,0.386680,1.525330,0.0,0.00,0.0,0.00,61.0
feat_2,61878.0,0.263066,1.252073,0.0,0.00,0.0,0.00,51.0
feat_3,61878.0,0.901467,2.934818,0.0,0.00,0.0,0.00,64.0
feat_4,61878.0,0.779081,2.788005,0.0,0.00,0.0,0.00,70.0
feat_5,61878.0,0.071043,0.438902,0.0,0.00,0.0,0.00,19.0
feat_6,61878.0,0.025696,0.215333,0.0,0.00,0.0,0.00,10.0
feat_7,61878.0,0.193704,1.030102,0.0,0.00,0.0,0.00,38.0
feat_8,61878.0,0.662433,2.255770,0.0,0.00,0.0,1.00,76.0
feat_9,61878.0,1.011296,3.474822,0.0,0.00,0.0,0.00,43.0
feat_10,61878.0,0.263906,1.083340,0.0,0.00,0.0,0.00,30.0
feat_11,61878.0,1.252869,3.042333,0.0,0.00,0.0,1.00,38.0
feat_12,61878.0,0.140874,0.567089,0.0,0.00,0.0,0.00,30.0
feat_13,61878.0,0.480979,2.014697,0.0,0.00,0.0,0.00,72.0
feat_14,61878.0,1.696693,3.163212,0.0,0.00,0.0,2.00,33.0
feat_15,61878.0,1.284398,3.862236,0.0,0.00,0.0,1.00,46.0
feat_16,61878.0,1.413459,2.226163,0.0,0.00,0.0,2.00,37.0
feat_17,61878.0,0.366108,1.477436,0.0,0.00,0.0,0.00,43.0
feat_18,61878.0,0.575423,1.335985,0.0,0.00,0.0,1.00,32.0
feat_19,61878.0,0.551699,4.636145,0.0,0.00,0.0,0.00,121.0
feat_20,61878.0,0.471525,1.438727,0.0,0.00,0.0,0.00,27.0
feat_21,61878.0,0.204014,0.696050,0.0,0.00,0.0,0.00,14.0
feat_22,61878.0,0.729969,1.446220,0.0,0.00,0.0,1.00,22.0
feat_23,61878.0,0.142522,0.782979,0.0,0.00,0.0,0.00,64.0
feat_24,61878.0,2.643880,4.629015,0.0,0.00,1.0,3.00,263.0
feat_25,61878.0,1.534520,2.332994,0.0,0.00,1.0,2.00,30.0
feat_26,61878.0,0.563108,1.710305,0.0,0.00,0.0,0.00,33.0
feat_27,61878.0,0.696613,2.873222,0.0,0.00,0.0,0.00,123.0
feat_28,61878.0,0.238970,0.828112,0.0,0.00,0.0,0.00,22.0
feat_29,61878.0,0.275768,1.901294,0.0,0.00,0.0,0.00,69.0
...,...,...,...,...,...,...,...,...
feat_64,61878.0,1.256796,3.402080,0.0,0.00,0.0,1.00,73.0
feat_65,61878.0,0.222228,0.783052,0.0,0.00,0.0,0.00,38.0
feat_66,61878.0,0.571706,1.361874,0.0,0.00,0.0,1.00,36.0
feat_67,61878.0,2.897653,4.974322,0.0,0.00,1.0,4.00,104.0
feat_68,61878.0,0.392902,1.761054,0.0,0.00,0.0,0.00,109.0
feat_69,61878.0,0.811128,4.111091,0.0,0.00,0.0,0.00,76.0
feat_70,61878.0,0.892789,1.941368,0.0,0.00,0.0,1.00,46.0
feat_71,61878.0,0.319290,1.162443,0.0,0.00,0.0,0.00,31.0
feat_72,61878.0,0.858722,2.411646,0.0,0.00,0.0,1.00,30.0
feat_73,61878.0,0.591050,5.783233,0.0,0.00,0.0,0.00,352.0
feat_74,61878.0,0.579851,3.757822,0.0,0.00,0.0,0.00,231.0
feat_75,61878.0,0.726817,3.200095,0.0,0.00,0.0,0.00,80.0
feat_76,61878.0,0.748457,2.920038,0.0,0.00,0.0,0.00,102.0
feat_77,61878.0,0.124196,0.906621,0.0,0.00,0.0,0.00,29.0
feat_78,61878.0,0.366415,2.778317,0.0,0.00,0.0,0.00,80.0
feat_79,61878.0,0.300446,1.285569,0.0,0.00,0.0,0.00,25.0
feat_80,61878.0,0.698067,2.245671,0.0,0.00,0.0,0.00,54.0
feat_81,61878.0,0.078461,0.461244,0.0,0.00,0.0,0.00,26.0
feat_82,61878.0,0.187983,0.836269,0.0,0.00,0.0,0.00,24.0
feat_83,61878.0,0.496719,2.434921,0.0,0.00,0.0,0.00,79.0
feat_84,61878.0,0.070752,1.151460,0.0,0.00,0.0,0.00,76.0
feat_85,61878.0,0.532306,1.900438,0.0,0.00,0.0,0.00,55.0
feat_86,61878.0,1.128576,2.681554,0.0,0.00,0.0,1.00,65.0
feat_87,61878.0,0.393549,1.575455,0.0,0.00,0.0,0.00,67.0
feat_88,61878.0,0.874915,2.115466,0.0,0.00,0.0,1.00,30.0
feat_89,61878.0,0.457772,1.527385,0.0,0.00,0.0,0.00,61.0
feat_90,61878.0,0.812421,4.597804,0.0,0.00,0.0,0.00,130.0
feat_91,61878.0,0.264941,2.045646,0.0,0.00,0.0,0.00,52.0
feat_92,61878.0,0.380119,0.982385,0.0,0.00,0.0,0.00,19.0
feat_93,61878.0,0.126135,1.201720,0.0,0.00,0.0,0.00,87.0

In [19]:
test_summary = test_summary.transpose()
test_summary

,count,mean,std,min,25%,50%,75%,max
id,144368.0,72184.500000,41675.596169,1.0,36092.75,72184.5,108276.25,144368.0
feat_1,144368.0,0.386201,1.468882,0.0,0.00,0.0,0.00,64.0
feat_2,144368.0,0.263597,1.261908,0.0,0.00,0.0,0.00,45.0
feat_3,144368.0,0.899819,2.949106,0.0,0.00,0.0,0.00,84.0
feat_4,144368.0,0.780727,2.846181,0.0,0.00,0.0,0.00,82.0
feat_5,144368.0,0.071498,0.428568,0.0,0.00,0.0,0.00,14.0
feat_6,144368.0,0.026439,0.228354,0.0,0.00,0.0,0.00,11.0
feat_7,144368.0,0.200169,1.069235,0.0,0.00,0.0,0.00,44.0
feat_8,144368.0,0.667378,2.286832,0.0,0.00,0.0,1.00,100.0
feat_9,144368.0,1.035271,3.548618,0.0,0.00,0.0,0.00,47.0
feat_10,144368.0,0.268778,1.187347,0.0,0.00,0.0,0.00,59.0
feat_11,144368.0,1.253962,3.009389,0.0,0.00,0.0,1.00,37.0
feat_12,144368.0,0.143716,0.568097,0.0,0.00,0.0,0.00,30.0
feat_13,144368.0,0.486361,2.032072,0.0,0.00,0.0,0.00,75.0
feat_14,144368.0,1.699566,3.159962,0.0,0.00,0.0,2.00,34.0
feat_15,144368.0,1.290411,3.869359,0.0,0.00,0.0,1.00,39.0
feat_16,144368.0,1.428017,2.242769,0.0,0.00,0.0,2.00,46.0
feat_17,144368.0,0.366168,1.453056,0.0,0.00,0.0,0.00,49.0
feat_18,144368.0,0.582387,1.335440,0.0,0.00,0.0,1.00,30.0
feat_19,144368.0,0.560671,4.760191,0.0,0.00,0.0,0.00,128.0
feat_20,144368.0,0.484256,1.462113,0.0,0.00,0.0,0.00,31.0
feat_21,144368.0,0.202649,0.709394,0.0,0.00,0.0,0.00,28.0
feat_22,144368.0,0.738640,1.456484,0.0,0.00,0.0,1.00,28.0
feat_23,144368.0,0.140724,0.754854,0.0,0.00,0.0,0.00,76.0
feat_24,144368.0,2.658906,4.625318,0.0,0.00,1.0,3.00,213.0
feat_25,144368.0,1.540404,2.339625,0.0,0.00,1.0,2.00,30.0
feat_26,144368.0,0.562666,1.764489,0.0,0.00,0.0,0.00,62.0
feat_27,144368.0,0.690035,2.781712,0.0,0.00,0.0,0.00,71.0
feat_28,144368.0,0.240663,0.829157,0.0,0.00,0.0,0.00,24.0
feat_29,144368.0,0.277229,1.941813,0.0,0.00,0.0,0.00,69.0
...,...,...,...,...,...,...,...,...
feat_64,144368.0,1.272422,3.428788,0.0,0.00,0.0,1.00,62.0
feat_65,144368.0,0.231942,0.864261,0.0,0.00,0.0,0.00,64.0
feat_66,144368.0,0.576887,1.395459,0.0,0.00,0.0,1.00,36.0
feat_67,144368.0,2.914517,5.034601,0.0,0.00,1.0,4.00,112.0
feat_68,144368.0,0.369292,1.650509,0.0,0.00,0.0,0.00,173.0
feat_69,144368.0,0.828023,4.144378,0.0,0.00,0.0,0.00,80.0
feat_70,144368.0,0.907403,1.941207,0.0,0.00,0.0,1.00,43.0
feat_71,144368.0,0.333045,1.254570,0.0,0.00,0.0,0.00,65.0
feat_72,144368.0,0.859574,2.402588,0.0,0.00,0.0,1.00,35.0
feat_73,144368.0,0.604961,5.979542,0.0,0.00,0.0,0.00,352.0
feat_74,144368.0,0.601809,3.954618,0.0,0.00,0.0,0.00,398.0
feat_75,144368.0,0.710871,3.076905,0.0,0.00,0.0,0.00,87.0
feat_76,144368.0,0.768190,3.008035,0.0,0.00,0.0,0.00,102.0
feat_77,144368.0,0.125298,0.907691,0.0,0.00,0.0,0.00,28.0
feat_78,144368.0,0.379004,2.837345,0.0,0.00,0.0,0.00,100.0
feat_79,144368.0,0.312438,1.330912,0.0,0.00,0.0,0.00,32.0
feat_80,144368.0,0.713295,2.326912,0.0,0.00,0.0,0.00,60.0
feat_81,144368.0,0.076852,0.455660,0.0,0.00,0.0,0.00,33.0
feat_82,144368.0,0.191892,0.839957,0.0,0.00,0.0,0.00,28.0
feat_83,144368.0,0.520489,2.597924,0.0,0.00,0.0,0.00,91.0
feat_84,144368.0,0.074989,1.288595,0.0,0.00,0.0,0.00,132.0
feat_85,144368.0,0.538485,1.906121,0.0,0.00,0.0,0.00,56.0
feat_86,144368.0,1.128782,2.682511,0.0,0.00,0.0,1.00,73.0
feat_87,144368.0,0.405249,1.631566,0.0,0.00,0.0,0.00,54.0
feat_88,144368.0,0.875526,2.090288,0.0,0.00,0.0,1.00,37.0
feat_89,144368.0,0.473284,1.617853,0.0,0.00,0.0,0.00,62.0
feat_90,144368.0,0.814010,4.603653,0.0,0.00,0.0,0.00,119.0
feat_91,144368.0,0.271161,2.073627,0.0,0.00,0.0,0.00,74.0
feat_92,144368.0,0.388348,1.006935,0.0,0.00,0.0,0.00,22.0
feat_93,144368.0,0.132675,1.302695,0.0,0.00,0.0,0.00,91.0

<a id='section6'></a>

#### What about non numerical data?

The only non numerical column is product category in train data set. Let us verify and see what are the 9 categories for the product.

In [20]:
df.target.unique()

array(['Class_1', 'Class_2', 'Class_3', 'Class_4', 'Class_5', 'Class_6',
       'Class_7', 'Class_8', 'Class_9'], dtype=object)

<a id='section7'></a>

#### Should any columns be deleted?

In [21]:
# id column looks un-useful, delete it for train and test data sets
df.drop("id",axis=1,inplace=True,errors='ignore')
df_test.drop("id", axis=1,inplace=True,errors='ignore')

In [22]:
# verify
df.shape, df_test.shape

((61878, 94), (144368, 93))

<a id='section8'></a>

#### Should any columns be transformed?

In [23]:
# let us change the product category text into corresponding integers to make easy to handle and visualize the data
# but first keep original values aside

product_categories = columns = list(np.unique(df.target))
product_categories

['Class_1',
 'Class_2',
 'Class_3',
 'Class_4',
 'Class_5',
 'Class_6',
 'Class_7',
 'Class_8',
 'Class_9']

In [24]:
df.target = [ int(clas[-1]) for clas in df.target]
df.target.unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [25]:
df.to_csv("../data/train_cleaned.csv")
df_test.to_csv("../data/test_cleaned.csv")